.recent .box{
  min-width: 20vw;
  border-radius: 3px;
  overflow: hidden;
}
.recent .text{
  padding: 2vw;
}

.recent .container2{

 width: 90%;
 margin: auto;
}
.recent.categoryspan {
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent p {
  color: black;
  

}
.recent .location{
  
  display: flex;
  align-items: center;
  justify-content: left;
  color: #520232;
 

}
.recent .locicon{
  margin-left: -2px;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 1vh 2vw;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
 
}

.recent .button span
{
  font-size: calc(0.5rem +1vw);
}

.recent .pagination{
padding: 0 1vw;
}

.recent .pagination button{
  font-weight: 600;
  }

@media screen and (max-width: 576px) {

  .recent .container2{
 width: 98%;
  
  }

  .recent .box{
    min-width: 40vw;
    border-radius: 5px;
    overflow: hidden;
   
    padding: 0;
    
  
  }
  .recent p {
    font-size: 12px;
  }
  .recent h4 {
    font-size: 13px;
  }
  .recent .button span
{
  font-size: 13px;
}

  }
