.auth-holder .switch-container {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  min-height: 100vh;
  overflow: hidden;
}

.auth-holder .forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.auth-holder .signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.auth-holder .switch-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.auth-holder form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.auth-holder form.sign-in-form {
  z-index: 2;
}

.auth-holder .title {
  font-size: 2.2rem;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.auth-holder .input-field {
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--dark-color);
  margin: 10px 0;
  height: 55px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  position: relative;
}

.auth-holder .input-field .icon {
  text-align: center;
  flex: 0.15;
  line-height: 55px;
  color: var(--dark-color);
  transition: 0.5s;
  font-size: 1.1rem;
}

.auth-holder .input-field input {
  flex: 0.7;
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--dark-color);
}

.auth-holder .input-field input::placeholder {
  color: var(--dark-color);
  font-weight: 500;
}

.auth-holder .social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  text-align: center;
}

.auth-holder .social-media {
  display: flex;
  justify-content: center;
}

.auth-holder .social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: var(--dark-color);
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.auth-holder .social-icon:hover {
  color: var(--middle-color);
  border-color: var(--middle-color);
}

.auth-holder .btn {
  width: 150px;
  background-color: var(--middle-color);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 40px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.auth-holder .btn2 {
  background-color: var(--dark-color) !important;
}

.auth-holder .btn:hover {
  background-color: var(--dark-color);
}

.auth-holder .btn2:hover {
  background-color:var(--middle-color) !important;
}

.auth-holder .panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auth-holder .switch-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, var(--dark-color) 20%, var(--middle-color) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.auth-holder .panel {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  z-index: 6;
}

.auth-holder .left-panel {
  pointer-events: all;
  padding: 4rem 0% 0rem 0;

}

.auth-holder .right-panel {
  pointer-events: none;
  padding: 4rem 0% 0rem 17%;
}

.auth-holder .panel .img-holder {
  padding: 0;
  margin: 0;
  width: 100%;
}

.auth-holder .image {
  height: 47vh;
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.auth-holder .left-panel .image {
  height: auto;
  width: 75%;
  margin-left: -25%;
  border-bottom-right-radius: 5px;

 
}

.auth-holder .panel .content {
  color: var(--white-color);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.auth-holder .panel h3 {
  font-weight: 700;
  line-height: 50px;
  font-size: 2rem;
  letter-spacing: -1%;


}

.auth-holder .panel p {
  font-size: 1.1rem;
  padding: 1rem 0;
  margin: 2vh;
}

.auth-holder .btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid var(--white-color);
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.auth-holder .right-panel .image,
.auth-holder .right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.auth-holder .switch-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.auth-holder .switch-container.sign-up-mode .left-panel .image,
.auth-holder .switch-container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.auth-holder .switch-container.sign-up-mode .signin-signup {
  left: 25%;
}

.auth-holder .switch-container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.auth-holder .switch-container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.auth-holder .switch-container.sign-up-mode .right-panel .image,
.auth-holder .switch-container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.auth-holder .switch-container.sign-up-mode .left-panel {
  pointer-events: none;
}

.auth-holder .switch-container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .auth-holder .switch-container {
    min-height: 800px;
    height: 100vh;
  }
  .auth-holder .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .auth-holder .signin-signup,
  .auth-holder .switch-container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .auth-holder .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .auth-holder .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 2;
  }

  .auth-holder .right-panel {
    grid-row: 3 / 4;
    padding: 2.5rem 0% 0rem 0%;
  }

  .auth-holder .left-panel {
    grid-row: 1 / 2;
    padding: 0rem 0% 2.5rem 0;
  }
  .auth-holder .panel .img-holder {
    padding: 0;
    margin: 0;
    width: max-content;
  }
  .auth-holder .left-panel .img-holder {
    padding: 0;
    margin: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .auth-holder .left-panel .image {
   
    width: 100%;
    margin-left: 0%;
    border-bottom-right-radius: 10px;
   
  }
  

  .auth-holder .image {
    height: 40vh;
    width: 100%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .auth-holder .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .auth-holder .panel h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
   
  }

  .auth-holder .panel p {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }

  .auth-holder .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .auth-holder .switch-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .auth-holder .switch-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .auth-holder .switch-container.sign-up-mode .left-panel .image,
  .auth-holder .switch-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .auth-holder .switch-container.sign-up-mode .right-panel .image,
  .auth-holder .switch-container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .auth-holder .right-panel .image,
  .auth-holder .right-panel .content {
    transform: translateY(300px);
  }

  .auth-holder .switch-container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .auth-holder .panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .auth-holder .right-panel {
    pointer-events: none;
    padding: 1rem 0 0 0;
  }
  .auth-holder .left-panel {
    padding: 1rem 0 0 0;
  }
  .auth-holder form {
    padding: 0;
  }

  .auth-holder .image {
    display: none;
  }
  .auth-holder .panel .content {
    padding: 0.5rem 1rem;
  }
  .auth-holder .switch-container {
    padding: 1.5rem;
  }

  .auth-holder .switch-container:before {
    bottom: 72%;
    left: 50%;
  }

  .auth-holder .switch-container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
 
  .auth-holder .input-field {
    max-width: 400px;
    width: 100%;
  }

  .auth-holder .switch-container form {
 
    padding: 0rem 2rem;
  
  }
  .auth-holder .input-field input {
    padding-left: 1rem;
  }
  .auth-holder .btn2 {
    margin-bottom: 5vh;
  }
  .auth-holder .social-text {
    margin: 2vh 0;
  }
}
