.home-page{
    background-color: var(--white-color);
    width: 100%;
    min-height: 50vh;
    padding: 4vh 5% 5vh 5%;
    z-index: 90;
}

.home-page h2{
    margin: 3vh 0 4vh 0;
}

@media only screen and (max-width: 480px) {
 
    .home-page{
       
        padding: 1vh 3% 0 3%;
       
    }
  
}