.books-page{
    background-color: var(--white-color);
    width: 100%;
    min-height: 50vh;
    padding: 4vh 5% 5vh 5%;
    z-index: 90;
}

.books-page h2{
    margin: 3vh 0 4vh 0;
}

@media only screen and (max-width: 480px) {
 
    .books-page{
       
        padding: 1vh 3% 0 3%;
       
    }
  
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  padding: 0;
  margin: auto;
}

.coverimage{
  height: 100%;
  width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

}

.btn1{
  background-color: rgb(77, 165, 223);
  font-size: calc(0.5rem + 0.8vw);
  font-weight: 550;
  border: none;
  color: black;
  padding: 12px 25px;
  border-radius: 10px;
  text-align: center;
}

.btn2{
  background-color: rgb(77, 165, 223);
  font-size: calc(0.5rem + 0.8vw);
  font-weight: 550;
  border: none;
  color: black;
  padding: 12px 25px;
  border-radius: 5px;
  text-align: center;
}

.btn6{
  background-color: rgb(77, 165, 223);
  font-size: calc(0.5rem + 0.8vw);
  font-weight: 550;
  border: none;
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
}

.flexbox{
  display: flex;
  width: 100% !important;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexbox .box{
margin: 2vh 2vh !important;
background-color: #fff;
flex: 1 ;
}

.d_flex{
 display: flex;
 flex-direction: row;
 justify-content: space-between ;
  
}

.btn3 {
  background: #520232;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  color :white;
  font-size: 1rem;
  font-weight: 550;
}

.dark{
  color : #520232;
}

.btn4 {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

.grid5 .box{
  margin-top: 1em;
  background-color: white;
  min-height: 22vh;
 
}

.mb5{
margin-bottom: 5vh;
}


.background {
  padding: 15px 0;
  position: relative;
  background:rgb(163, 195, 215);
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  
}
label {
  color: #2d3954;
  font-size: 14px;
}
.mtop {
  margin-top: 50px;
}
h4 {
  font-weight: 550;
  margin-top: 10px;
}
.shadow2{
  box-shadow:rgba(50, 50, 93, 0.9) 0px 2px
  5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
}
.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
.padding {
  padding: 80px 0;
}
.grid3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  
}
.grid3 .box{
  width: auto;
}


img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.grid4{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4);
  grid-gap: 1em;
}
button i {
  margin-right: 5px;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mb {
  margin-bottom: 9vh;
}
button{
  cursor: pointer;
}
.btn5 {
  height: 10vh;
  border-radius: 30px;
  padding: 12px 25px;
  color: rgb(41, 131, 191);
  font-size: 1rem;
  font-weight: 500;
  border: 5px solid #27ae601f;
  background: #fff;
  
}


.mt{
  margin-top: 5vh;
}
.mt4{
  margin-top: 4vh;
}
@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid5 {
    grid-gap: 0em;
  }
  .grid5 .box{
    width: auto;
   
  }

  .grid5 .box:nth-child(odd){
    margin-right: 0.5em;
  }
  .grid5 .box:nth-child(even){
    margin-left: 0.5em;
  }
  .grid3 {
    grid-gap: 1em;
  }
  

  .heading {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .back::after,
  .back img,
  .back {
    height: 30vh;
  }
}

@media screen and (max-width: 480px) {
  
.flexbox .box{
  margin: 1vh 0.5vh !important;
  }
}



