
  .app .dashboard {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  padding: 0;
  margin: auto;
}

.coverimage{
  height: 100%;
  width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

}